<div class="blogs">
  <h1>Here are your blog posts:</h1>
  {{#each blogData}}
  <div class="card card-body" >
    <a href="" id="user-card" type="button"><h2 class="card-header">{{name}}</h2></a>
    <p>{{description}}</p>
    <p>Date Created: {{date_created}}</p>
    </div>
  {{/each}}
  
</div>

<script src="/js/edit.js"></script>