<p>New blog post:</p>

<section class="card">
  <form>
    <div class="form-group">
      <label for="blogform">Blog title</label>
      <input type="text" class="form-control form-input" id="blogform" rows="3"></input>
      <label>Enter blog post</label>
      <textarea class="form-control form-input min-50-vh" ></textarea>
      <input type="submit" class="btn"></input>     
    </div>
  </form>
</section>

<script src="/public/js/new.js"></script>