<p>New blog post:</p>

<section class="card">
  <form>
    <div class="form-group">
      <label for="blogform">Blog title</label>
      <input type="text" name="post-title" class="form-control form-input" id="blogform" rows="3"></input>
      <label>Enter blog post</label>
      <textarea class="form-control form-input min-50-vh" name="post-body"></textarea>
      <input type="submit" class="btn" id="new-post-form"></input>     
    </div>
  </form>
</section>

<script src="/js/new.js"></script>